{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  {{ super() }}
  <div class="container">
    <div class="row">
      <div class="col mx-auto">
          <div class="card mt-4" style="background-color: rgba(0, 209, 255, 0.1);">
            <div class="card-body">
              <h4 class="card-title text-center mt-2"></h4>
                <h5 class="text-center" style="color: grey;">Registry</h5>

            </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}
