{% extends "base.html" %}
{% block title %}Biometrics - info for {{ data.username }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}


{% block content %}
  {{ super() }}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>
          <h4 class="text-monospace text-center mt-4">Biometrics information</h4>
          <div class="card mt-4 mx-auto" style="background-color: rgba(0, 209, 255, 0.1);">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">User</h6>
              <p class="card-text"><strong>Username: </strong> {{ data['username'] }}</p>
              <h6 class="card-subtitle mb-2 text-muted">Steps</h6>
              <p class="card-text"><strong>Steps number:</strong> {{  }} </p>
              <p class="card-text"><strong></strong></p>
              <p class="card-text"><strong></strong></p>
              <h6 class="card-subtitle mb-2 text-muted">Medical office</h6>
              <p class="card-text"><strong></strong></p>
              <p class="card-text"><strong>:</strong> <strong>:</strong> </p>
              <p class="card-text"><strong></strong> <strong>- To:</strong></p>

              <h4 class="text-center mt-1">
                <a class="btn btn-primary mt-1 mx-auto" href={{ url_for('info', p_username = data.username) }} method='GET'>Go Back</a>
              </h4>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>

  {% endblock %}
