{% extends "base.html" %}
{% block title %}Health Data - info for {{ data.username }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}


{% block content %}
  {{ super() }}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>
          <h4 class="text-monospace text-center mt-4">General information</h4>
          <div class="card mt-4 mx-auto" style="background-color: rgba(0, 209, 255, 0.1);">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">User</h6>
              <p class="card-text"><strong>Username: </strong> {{ data['username'] }}</p>
              <h6 class="card-subtitle mb-2 text-muted">Messagge</h6>
              <p class="card-text"><strong>How i feel:</strong> {{  data['come_mi_sento'] }} </p>
              <h6 class="card-subtitle mb-2 text-muted">Other information</h6>
              <p class="card-text"><strong>Fever:</strong> {{  data['febbre'] }} </p>
              <p class="card-text"><strong>Flue:</strong> {{  data['raffreddore'] }} </p>
              <p class="card-text"><strong>Headache:</strong> {{  data['mal_di_testa'] }} </p>
              <p class="card-text"><strong>Sore throat:</strong> {{  data['mal_di_gola'] }} </p>
              <p class="card-text"><strong>Swelling:</strong> {{  data['gonfiore'] }} </p>
              <p class="card-text"><strong>Stomach ache:</strong> {{  data['bruciore_stomaco'] }} </p>
              <p class="card-text"><strong>Panico:</strong> {{  data['panico'] }} </p>

              <h4 class="text-center mt-1">
                <a class="btn btn-primary mt-1 mx-auto" href={{ url_for('info', p_username = data.username) }} method='GET'>Go Back</a>
              </h4>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% endblock %}
